* {
    margin: 0;
    padding: 0;
    transition: transform 0.5s;
    box-sizing: border-box;
}

#first-section .main-div {
    display: flex;
        margin-top: 16pc;
}

#first-section .main-div .photo-div {
    margin-left: 5pc;
    height: 21pc;
    width: 15pc;
    overflow: hidden;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}
h3{
    color: #454545;
}
#first-section .main-div .first-div .text-div {
    height: 5pc;
    text-align: center;
    width: 23pc;
    color: white;
    background-color: #454545;
    font-size: 35px;
}

#first-section .main-div .first-div {
    display: flex;
    flex-direction: column;
    gap: 1pc;
    text-align: center;
    font-size: 2pc;
}
#first-section .main-div .first-div h2{
        font-family: serif;
    font-size: 4pc;
    color: #454545;
}

#first-section .main-div .photo-div img {
    width: 24pc;
    margin-left: -4pc;
    height: 14pc;
}

#first-section .main-div .photo-div h3 {
    text-align: center;
    margin-top: 11px;
    font-family: sans-serif;
}

#first-section .main-div .photo-div p {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 8px;
}

#first-section .main-div .icons {
    width: 4pc;
    height: 4pc;
    display: flex;
    gap: 2pc;
    margin-left: 38px;
}

#first-section .main-div .icons img {
    width: 1pc;
    margin: 0 auto;
    height: 1pc;
    margin-top: 2pc;
}

#first-section .main-div .photo-div:hover{
        transform: translateY(-1pc);
}