* {
    margin: 0;
    padding: 0;
    transition: transform 0.3s;
    box-sizing: border-box;
    font-family: arial;
}
body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../Assets/Forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


nav {
    display: flex;
}

header {
    height: 7pc;
}

#header-nav .main-div .list ul {
    display: flex;
    list-style: none;
    gap: 3pc;
}

#header-nav .main-div .list ul a {
    text-decoration: none;
    color: white;
}

#header-nav .main-div .list {
    margin: 0 auto;
    display: flex;
}
#header-nav .main-div .sing-up button {
    border-radius: 9px;
    border: none;
    font-size: 10px;
    width: 4pc;
    font-weight: 700;
    height: 2pc;
}

#header-nav .main-div .sing-up button:hover {
    transform: translateY(-3px);
}

#header-nav .main-div {
    display: flex;
    gap: 40pc;
    margin-top: 23px;
    color: white;
}
#header-nav .main-div h2 {
    position: relative;
    left: 5pc;
}

hr {
    margin-top: 1pc;
}

#first-main-sec .main-div1 .div1 {
    width: 9pc;
    margin: 0 auto;
    text-align: center;
    color: white;
}

#first-main-sec .main-div1 .div1 h1 {
    font-size: 7pc;
    margin-left: -9pc;
}

#second-main-sec .main-div2 {
    display: flex;
    gap: 2pc;
    justify-content: center;
}

#second-main-sec .main-div2 .input-dateIn input,
.input-dateOut input,
.input-guests input {
    width: 14pc;
    height: 3pc;
}

input {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
}

#second-main-sec .main-div2 .input-dateIn:hover,
#second-main-sec .main-div2 .input-dateOut:hover,
#second-main-sec .main-div2 .input-guests:hover {
    transform: translateY(-5px);
}

#first-main-sec .main-div1 .div1 .icons {
    display: flex;
    flex-direction: column;
    width: 18px;
    position: relative;
    left: 36pc;
    top: -8pc;
    gap: 1.5pc;
}

#first-main-sec .main-div1 .div1 .icons img:hover{
        transform: translateY(-5px);
}


